* {
	margin: 0;
	padding: 0;
}

body {
	background-image: url("https://cdn.drawception.com/images/panels/2012/11-28/75SRRAhgxS-2.png");
}

#topRow {
	text-align: center;
}

#titleCard {
	text-align: center;
	/*border: 2px solid black;*/
}

#title {
	font-size: 3em;
	margin-top: 10px;
	font-family: 'Montserrat', serif;
	color: Black;
	background-color: rgb(238,130,238, 0.95);
	border-radius: 10px;
	border: 2px dotted black;
}

#secondRow {
	margin-top: 80px;
	padding: 5px;
	display: flex;
	justify-content: center;
}

#secondRow .card {
	margin: auto 5%;
}

#smile {
	width: 50%;
	border-radius: 25%;
}

#reasons {
	list-style: none;
}

#reasons li {
	font-size: 1.2em;
	font-family: 'Raleway', sans-serif;
	background-color: rgb(238,130,238);
	border-radius: 10px;
	padding: 5px;
	text-align: center;
	border: 2px dotted black;
	margin: 5px auto;
}

#thirdRow {
	margin-top: 65px;
	display: flex;
	justify-content: center;
}

.card3 {
	border: 2px dotted black;
	border-radius: 20px;
	text-align: center;
	background-color: rgb(238,130,238, 0.95);
	padding-top: 10px;
	font-size: 1.6em;
	font-family: 'Raleway', sans-serif;
	margin: auto 25px;
}

#history {
	list-style: none;
}

#fourthRow {
	display: flex;
	justify-content: center;
	margin: 50px auto;
}

#btn {
	background-color: black;
	color: rgb(238,130,238);
	font-size: 1.5em;
	border-radius: 15px;
	padding: 5px;
}







